<!DOCTYPE html>
<html>
    <head>
        <title>
            Ticket
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <link rel="stylesheet" href="{{ url_for('static', filename='ticket.css') }}">
        <h1>Have a Safe and Happy Journey!</h1>
        <hr>
        <center>
            <div id = "front">
                <input type="text" value={{txStatus}} style="display:none;" id="suc">
                <center>
                    <h2 style="color:gold">Your Ticket</h2>
                </center>
                <table>
                    <tr>
                        <td><h4>Date:</h4></td>
                        <td><h3 style="color: greenyellow;">{{txTime}}</h3></td>
                    </tr>
                    <tr>
                        <tr>
                            <td><h4>From:</h4></td>
                            <td><h3>{{frm}}</h3></td>
                        </tr>
                    </tr>
                    <tr>
                        <td><h4>To:</h4></td>
                        <td><h3>{{to}}</h3></td>
                    </tr>
                    <tr>
                        <td><h4>Price:</h4></td>
                        <td><h3>{{price}}</h3></td>
                    </tr>
                </table>
                <center>
                    <button onclick="open_wa()">Share</button>
                </center>
                

            </div>

            <div id="unsuccessful">
                <h2>Payment Unsuccessfull!</h2>
            </div>
        </center>
        <script src = "{{ url_for('static', filename='ticket.js') }}"></script>
        
    </body>
</html>